// General button styling

button {
  background: $main;
  border: 1px solid $accent;
  border-radius: 5px;
  background-position: center;
  transition: background 0.5s;
}

button:hover,
button:focus {
  background: $accent radial-gradient(circle, transparent 1%, $accent 1%) center/15000%;
}

button:active {
  background-color: lighten($accent, 30);
  background-size: 100%;
  transition: background 0s;
}
