//Large Desktops
@media (min-width: 1450px) {
  .headerWrapper,
  .wrapper {
    max-width: 1450px;
  }
} // end of 1450px

//Regular Desktops
@media (max-width: 1200px) {
  .rightCard {
    width: 67%;
  }
} // end of 1200px

@media (max-width: 1075px) {
  .headerWrapper,
  .wrapper {
    width: 90%;
  }

  .statsCounter {
    li {
      width: 45%;
    }
  }
} // end of 1075px

//Portrait tablet and small desktops
@media (max-width: 950px) {
  h2 {
    @include fontStyle(2rem, 2.4rem, $primaryText, $baseFont, 500);
  }

  h3 {
    @include fontStyle(1.4rem, 2.5rem, $primaryText, $baseFont, 500);
  }
  
  h4 {
    @include fontStyle(1.6rem, 2.5rem, $primaryText, $baseFont, 500);
  }

  label,
  select,
  option,
  input,
  button {
    @include fontStyle(1.4rem, 1.4rem, $primaryText, $baseFont, 400);
  }

  p {
    @include fontStyle(1.5rem, 1.5rem, $primaryText, $baseFont, 400);
  }

  table {
    @include fontStyle(1.5rem, 1.5rem, $primaryText, $baseFont);
  }

  .leftCard {
    .dropDownContainer {
      margin-left: 5px;
      width: 60%;
    }
  }

  .addPlayerForm {
    @include flex(row, space-between, flex-end);

    .newPlayerPosDropDown,
    input {
      width: 35%;
      margin: 0;
    }

    button {
      width: 29%;
      margin: 0;
      padding-left: 0;
      padding-right: 0;
    }
  }
} // end of 950px

@media (max-width: 890px) {
  .statsCounter {
    li {
      .add {
        margin-left: 15px;
      }
  
      .subtract {
        margin-right: 15px;
      }
    }

    button {
      width: 33px;
    }
  }
} // end of 890px

//Landscape phone to portrait tablet
@media (max-width: 768px) {
  .headerWrapper,
  .wrapper {
    width: 95%;
  }

  .playerInfo {
    height: 20%;
  }

  .playerSummary {
    height: 65%;

    .selectGame {
      height: 50%;
      @include flex(column, space-evenly);
    }

    .dropDownContainer {
      width: 85%;
    }

    .gameTitle {
      height: calc(30% - 5px);
    }
  
    table {
      height: 70%;
    }
  } 

  .newGameContainer {
    height: 15%;
  }

  .rightCard {
    width: 68%;
  }

  .statsCounter {
    li {
      width: 47%;
    }

    button {
      width: 30px;
    }
  }
} // end of 768px

@media (max-width: 685px) {
  .headerWrapper,
  .wrapper {
    width: 80%;
  }

  header {
    height: 0;
    width: 100%;
    position: sticky;
    top: 20px;

    h1 {
      position: absolute;
      top: 0;
      right: 2%;
      writing-mode: vertical-lr;
    }
  }

  .wrapper {
    @include flex(column, space-between, flex-start);
    height: 100%;
  }

  .leftCard,
  .rightCard {
    width: 100%;
    margin-top: 30px;
  }
  
  .leftCard {
    height: 500px;
  }

  .rightCard {
    height: 550px;
    padding-bottom: 30px;
  }

  .playerSummary {
    @include flex(column, flex-start);
    height: 65%;

    .selectGame {
      // height: 50%;
      @include flex(row);
    }

    .dropDownContainer {
      width: 50%;
    }

    .gameTitle {
      height: calc(30% - 5px);
    }
  
    table {
      height: 71%;
    }
  } 

  .newGameContainer {
    button,
    input {
      width: 40%;
    }
  }

  .statsCounter {
    li {
      width: 45%;
    }

    button {
      width: 37px;
    }
  }
} // end of 685px

@media (max-width: 625px) {
  .headerWrapper,
  .wrapper {
    width: 85%;
    margin-left: 3%;
  }

  .statsCounter {
    button {
      width: 34px;
    }
  }
} // end of 625px

@media (max-width: 550px) {
  h1 {
    @include fontStyle(2.5rem, 2.5rem, $main, $baseFont, 500);
  }

  table {
    @include fontStyle(1.3rem, 1.3rem, $primaryText, $baseFont, 400);
  }

  select,
  option,
  input,
  button,
  p {
    @include fontStyle(1.2rem, 1.2rem, $primaryText, $baseFont, 400);
  }

  a {
    @include fontStyle(1.2rem, 1.2rem, $main, $baseFont, 400);
  }

  .headerWrapper,
  .wrapper {
    width: 88%;
    margin-left: 3%;
  }

  .addPlayerForm {
    @include flex(row, center, flex-end);
    height: 15%;
    flex-wrap: wrap;
    
    .newPlayerPosDropDown,
    input,
    button {
      width: 44%;
    }

    input {
      margin-right: 10px;;
    }
    
  }
} // end of 550px

//Landscape phones and down
@media (max-width: 480px) {
  .rightContent {
    height: 80%;
  }

  .statsCounter {
    li {
      width: 45%;
      background-image: linear-gradient(
        to top left,
        #ff9562,
        #ffd316
      );
      border-radius: 10px;
      padding: 0px;
      
      .indivStat {
        background: rgba($main, 0.5);
        border-radius: 10px;
      }
  
      .add {
        margin-left: 10px;
      }
  
      .subtract {
        margin-right: 10px;
      }
    }
  }

  .graphButtonContainer {
    .numGameButton {
      width: 100px;
    }
  
    .typeButtons {
  
      button {
        width: 60px;
      }
  
      button:last-child {
        margin-left: 5px;
      }
    }
  }

} // end of 480px

//Even smaller
@media (max-width: 380px) {
  select,
  option,
  input,
  button,
  p {
    @include fontStyle(1.1rem, 1.2rem, $primaryText, $baseFont, 400);
  }

  // a {
  //   @include fontStyle(1rem, 1.2rem, $main, $baseFont, 400);
  // }

} // end of 380px

//teeny phones aka iphone5
@media (max-width: 320px) {

} // end of 320px