//====================
// Mixins
//====================
@mixin flex($direction, $justContent: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justContent;
  align-items: center;
}

@mixin fontStyle($size, $lh, $color, $fam: $body, $weight: 400) {
  font-family: $fam;
  font-weight: $weight;
  font-size: $size;
  line-height: $lh;
  color: $color;
}

//responsive mixins
@mixin smallPhone {
  @media (max-width: 320px) {
    @content;
  }
}
@mixin regPhones {
  @media (max-width: 480px) {
    @content;
  }
}
@mixin tablet {
  @media (max-width: 768px) {
    @content;
  }
}
@mixin tabletToDesktop {
  @media (max-width: 940px) {
    @content;
  }
}
@mixin regDesktop {
  @media (max-width: 1200px) {
    @content;
  }
}
@mixin largeDesktop {
  @media (min-width: 1201px) {
    @content;
  }
}
  