// ====================
// Colours
// ====================
$primaryText: black;
$main: white;
$accent: rgb(37,60,120);

// ====================
// Fonts
// ====================
$baseFont: 'Montserrat', sans-serif;

// ====================
// Mixins
// ====================
@mixin flex($direction, $justContent: center, $alignItems: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justContent;
  align-items: $alignItems;
}

@mixin fontStyle($size, $lh, $color, $fam: $body, $weight: 400) {
  font-family: $fam;
  font-weight: $weight;
  font-size: $size;
  line-height: $lh;
  color: $color;
}